<div class="container position-fixed shadow">
    <div class="text-center">
        <img [ngSrc]="logo1" alt="logo" width="100" height="100">
    </div>
    <div class="row">
        <nav class="navbar col-12">
            <div class="d-flex w-100 gap-3">
                <img [ngSrc]="home" alt="home" width="30" height="30">
                <a class="text-center navbar-brand" routerLink="/">Accueil</a>
            </div>
        </nav>
        <nav class="navbar col-12">
            <div class="d-flex w-100 gap-3">
                <img [ngSrc]="vols" alt="vols" width="30" height="30">
                <a class="navbar-brand" routerLink="/vols">Vols</a>
            </div>
        </nav>
        <nav class="navbar col-12">
            <div class="d-flex w-100 gap-3">
                <img [ngSrc]="personnels" alt="personnel" width="30" height="30">
                <a class="navbar-brand" routerLink="/personnels">Personnels</a>
            </div>
        </nav>
        <nav class="navbar col-12">
            <div class="d-flex w-100 gap-3">
                <img [ngSrc]="aeroport" alt="aeroport" width="30" height="30">
                <a class="navbar-brand" routerLink="/aeroport">Aéroports</a>
            </div>
        </nav>
        <nav class="navbar col-12">
            <div class="d-flex w-100 gap-3">
                <img [ngSrc]="passagers" alt="passagers" width="30" height="30">
                <a class="navbar-brand" routerLink="/passagers">Passagers</a>
            </div>
        </nav>
        <nav class="navbar col-12">
            <div class="d-flex w-100 gap-3">
                <img [ngSrc]="avions" alt="avions" width="30" height="30">
                <a class="navbar-brand" routerLink="/avions">Avions</a>
            </div>
        </nav>
        <nav class="navbar col-12">
            <div class="d-flex w-100 gap-3">
                <img [ngSrc]="parametres" alt="parametres" width="30" height="30">
                <a class="navbar-brand" routerLink="/parametres">Paramètres</a>
            </div>
        </nav>
        <nav class="navbar col-12">
            <div class="d-flex w-100 gap-3">
                <img [ngSrc]="faq" alt="faq" width="30" height="30">
                <a class="navbar-brand" routerLink="/faq">FAQ</a>
            </div>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>