<header>
    <app-bar-navigation></app-bar-navigation>
  </header>
  <main>
    <section class="section-1">
      <app-bar-recherche/>
    </section>
    
    
    
    <section class="section-2">
        <h2 class="text-center pt-4">Adama SERMIN</h2>
    <div class="conteneur">

      <div>
        <h5 class="mon-h5">Statistiques de l'entreprise</h5>
        <div>
            <app-graphe></app-graphe> 
        </div>
      </div>
      <div>
        <h5 class="mon-h5">Tâches à effectuer</h5>
        <div class="div-child">
          <div>
            <div class="form-check form-check-reverse">
                <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
                <label class="form-check-label" for="reverseCheck1">
                    Rajouter l’avion AIRBUS300 à la liste
                </label>
            </div>
            <div class="form-check form-check-reverse">
                <input class="form-check-input" type="checkbox" value="" id="reverseCheck2">
                <label class="form-check-label" for="reverseCheck2">
                    Supprimer membre du personnel John DOE
                </label>
            </div>
            <div class="form-check form-check-reverse">
                <input class="form-check-input" type="checkbox" value="" id="reverseCheck3">
                <label class="form-check-label" for="reverseCheck3">
                  Reverse checkbox
                </label>
            </div>
          </div>
          <div>
            <div class="form-check form-check-reverse">
                <input class="form-check-input" type="checkbox" value="" id="reverseCheck4">
                <label class="form-check-label" for="reverseCheck4">
                  ...
                </label>
            </div>
            <div class="form-check form-check-reverse">
                <input class="form-check-input" type="checkbox" value="" id="reverseCheck5">
                <label class="form-check-label" for="reverseCheck5">
                  ...
                </label>
            </div>
            <div class="form-check form-check-reverse">
                <input class="form-check-input" type="checkbox" value="" id="reverseCheck6">
                <label class="form-check-label" for="reverseCheck6">
                  ...
                </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    </section>
  </main>
