<div class="d-flex justify-content-between align-items-center ma-div">
    <div class="monform">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
    <div class="d-flex align-items-center custom-width">
        <img [ngSrc]="profil" alt="photo-profil" width="40" height="40" class="me-2">
        <div class="info-admin">
            <h6>{{ getUsername()}}</h6>
          <a (click)="logout()" class="text-danger" style="text-decoration: none; cursor: pointer">Logout</a>
        </div>
    </div>
</div>
