.principal{
    position: absolute;
    top: 10%;
    left: 24%;
    width: 75%;
    height: 80%;
}
.modifiediv{
    width: 90%;
    height: 80%;
    background-color: #fff;
    border-radius: 15px;
}