
    <div class="body_page">
      <div class="content-principal">
        <div class="content-left">
          <h5>Nom Admin</h5>
          <br>
          <h1>Super Admin</h1>
        </div>
        <div class="content-right">
          <h5>Liste des Super Admins</h5>
          <div class="enregistrer_del_up">
            <h6>2</h6>
            <h6>Deliveary 123345 </h6>
            <div class="del_upd">
              <div class="delete"></div>
              <div class="update"></div>
            </div>
          </div>
          <div class="enregistrer_del_up">
            <h6>2</h6>
            <h6>Deliveary 123345 </h6>
            <div class="del_upd">
              <div class="delete"></div>
              <div class="update"></div>
            </div>
          </div>
          <div class="enregistrer_del_up">
            <h6>2</h6>
            <h6>Deliveary 123345 </h6>
            <div class="del_upd">
              <div class="delete"></div>
              <div class="update"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="content_form">
        <form action="" method="post">
          <div class="content_form_one">
            <div class="div_box">
              <label for="name">Nom</label>
              <br>
              <input type="text">
            </div>
            <div class="div_box">
              <label for="prenom">Prenom</label>
              <br>
              <input type="text">
            </div>
          </div>
          <br><br>
          <div class="content_form_one">
            <div class="div_box">
              <label for="mail">E-mail</label>
              <br>
              <input type="text">
            </div>
            <div class="div_box">
              <label for="password">Mot de passe</label>
              <br>
              <input type="text">
            </div>
          </div>
          <br><br>
          <div class="content_form_one">
            <div class="div_box">
              <label for="Tel">Tel</label>
              <br>
              <input type="text">
            </div>
            <div class="div_box">
              <button type="submit">Enregistrer</button>
            </div>
          </div>
        </form>
      </div>
    </div>

